<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<%- include("./partials/head") %>


    <body>
        <%- include("./partials/socialm") %>
            <%- include("./partials/nav") %>
                <div class="wrapper">
                    <h1>Gallery</h1>

                    <section class="g-imges">
                        <div class="g-img">
                            <% for(var i=0; i<imgs.length; i++){ %>
                                <img src="<%= imgs[i].image %>">
                                <% } %>
                        </div>

                    </section>
                </div>





                <%- include("./partials/footer") %>

    </body>

    </html>